<!-- Header with Slideshow -->
<header class="w3-display-container w3-center">
    <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium"
        onclick="document.getElementById('download').style.display='block'">Login <i class="fa fa-android"></i> <i
            class="fa fa-apple"></i> <i class="fa fa-windows"></i></button>
    <div class="mySlides w3-animate-opacity">
        <img class="w3-image" src="/images/banner/128602909.jpg" alt="Image 1" style="min-width:500px" width="1500"
            height="1000">
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Valle Verde Residencial es el hogar de tus sueños.</h1>
                <hr class="w3-opacity">
                <p>Porque tu seguridad nos interesa.</p>
                <p><button class="w3-button w3-block w3-green w3-round"
                        onclick="document.getElementById('download').style.display='block'">Login <i
                            class="fa fa-user"></i> </button></p>
            </div>
        </div>
    </div>
    <div class="mySlides w3-animate-opacity">
        <img class="w3-image" src="/images/banner/seguridad-urbanizaciones.jpg" alt="Image 2" style="min-width:500px"
            width="1500" height="1000">
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Valle Verde Residencial es el hogar de tus sueños.</h1>
                <hr class="w3-opacity">
                <p>Porque tu seguridad nos interesa.</p>
                <p><button class="w3-button w3-block w3-indigo w3-round"
                        onclick="document.getElementById('download').style.display='block'">Login <i
                            class="fa fa-user"></i></button></p>
            </div>
        </div>
    </div>
    <div class="mySlides w3-animate-opacity">
        <img class="w3-image" src="/images/banner/maxresdefault.jpg" alt="Image 3" style="min-width:500px" width="1500"
            height="1000">
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge">Valle Verde Residencial es el hogar de tus sueños.</h1>
                <hr class="w3-opacity">
                <p>Porque tu seguridad nos interesa.</p>
                <p><button class="w3-button w3-block w3-red w3-round"
                        onclick="document.getElementById('download').style.display='block'">Login <i
                            class="fa fa-user"></i></button></p>
            </div>
        </div>
    </div>
    <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey"
        onclick="plusDivs(1)"> <i class="fa fa-angle-right"></i></a>
    <a class="w3-button w3-block w3-black w3-hide-large w3-hide-medium" onclick="plusDivs(1)"> <i
            class="fa fa-angle-right"></i></a>
</header>