<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-wide">
            <img src="/images/valle_logo2.png" class="valle_logo" alt="">
        </a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button">ACERCA DE</a>
            <a href="#services" class="w3-bar-item w3-button">SERVICIOS</a>
            <a href="#contact" class="w3-bar-item w3-button">CONTACTO</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
            onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none"
    id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
        &times;</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">Acerca de</a>
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button">Servicios</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">Contacto</a>
    <a href="#" class="w3-bar-item w3-button"
        onclick="document.getElementById('download').style.display='block'">Login</a>
</nav>