<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/css/animate.css">
	<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/css/flatpickr.min.css">
	<link rel="stylesheet" href="/stylesheets/css/line-awesome.css">
	<link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/stylesheets/lib/slick/slick.css">
	<link rel="stylesheet" href="/stylesheets/lib/slick/slick-theme.css">
	<link rel="stylesheet" href="/stylesheets/css/style.css">
	<link rel="stylesheet" href="/stylesheets/css/responsive.css">
	{{{block "head"}}}
</head>
<body>
	<div class="wrapper">
	{{{block "header"}}}

	{{{body}}}
	</div>

	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/popper.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	{{{block "scripts"}}}
</body>
</html>
