<!DOCTYPE html>
<html lang="es">

<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{#each styles}}
	<link rel="stylesheet" type="text/css" href="{{this}}" />
	{{/each}}
</head>

<body>

	{{{body}}}

	{{#each javascripts}}
	<script src="{{this}}"></script>
	{{/each}}
</body>

</html>