{{#extend "head"}}
<link rel="stylesheet" href="/datatables/datatables.min.css">
<link rel="stylesheet" href="/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css">
{{> title title="Mis incidentes"}}
{{/extend}}

    {{#extend "header"}}
    {{> admin/header}}
    {{/extend}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="profile-account-setting">
        <hr>
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <hr>
                <table id="atentions-table" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Tipo de incidente</th>
                        <th scope="col">Gravedad</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                </table>
            </div>
            </div>
        </div>
    </section>

    {{> admin/footer}}

{{#extend "scripts"}}
<script src="/javascripts/flatpickr.min.js"></script>
<script src="/stylesheets/lib/slick/slick.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/datatables/datatables.min.js"></script>
<script src="/javascripts/main-employee-incidents-datatable.js"></script>
{{/extend}}
