{{#extend "head"}}
<link rel="stylesheet" href="/datatables/datatables.min.css">
<link rel="stylesheet" href="/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css">
{{> title title="Incidentes por meses"}}
{{/extend}}

    {{#extend "header"}}
    {{> admin/header}}
    {{/extend}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="profile-account-setting">
        <hr>
        <div class="container">
            <div class="row">
                <hr>
                <div class="col-sm-5">
                    <select id="select-mes" class="form-control">
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <a href="#" id="print-incidents" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i></a>
                </div>
            </div>
            <hr>  
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Tipo de incidente</th>
                    <th scope="col">Gravedad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody id="incidents-by-month"></tbody>
            </table>
        </div>
    </section>

    {{> admin/footer}}

{{#extend "scripts"}}
<script src="/javascripts/flatpickr.min.js"></script>
<script src="/stylesheets/lib/slick/slick.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/datatables/datatables.min.js"></script>
<script src="/javascripts/main-incidents-month.js"></script>
{{/extend}}
