{{#extend "head"}}
<link rel="stylesheet" href="/datatables/datatables.min.css">
<link rel="stylesheet" href="/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css">
{{> title title="Villas"}}
{{/extend}}

    {{#extend "header"}}
    {{> admin/header}}
    {{/extend}}

    <section class="profile-account-setting">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {{#if success}}
              <div style="color: rgb(46, 136, 61); font-weight: bold; font-size: 20px; padding:1em;">
                <span>{{ success }}</span>
              </div>
              <hr>
            {{/if}}
            
            {{#if error}}
              <div style="color: crimson; font-weight: bold; font-size: 20px; padding:1em;">
                <span>{{ error }}</span>
              </div>
              <hr>
            {{/if}}
            
            {{#if message}}
              <div style="color: rgb(16, 92, 143); font-weight: bold; font-size: 20px;">
                <span>{{ message }}</span>
              </div>
              <hr>
            {{/if}}

            {{#if errorsValidator}}
              <ul style="color: crimson; font-weight: bold; font-size: 20px; padding:1em;">
                {{#each errorsValidator}}
                  <li>{{ msg }}</li>
                {{/each}}
              </ul>
              <hr>
            {{/if}}
            <a href="/villas/create" class="btn btn-primary">Agregar villa</a>

            <hr>
            <table id="villas-table" class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Bloque</th>
                  <th scope="col">Número de la villa</th>
                  <th scope="col">Referencia</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Borrar</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </section>

    {{> admin/footer}}

{{#extend "scripts"}}
<script src="/javascripts/flatpickr.min.js"></script>
<script src="/stylesheets/lib/slick/slick.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/datatables/datatables.min.js"></script>
<script src="/javascripts/main-villa-datatable.js"></script>
{{/extend}}
