      <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="/valle-verde" title="">
                        <img src="/images/valle verde.png" alt="">
                    </a>
                </div>
                <div class="search-bar">
                    <form>
                        <input type="text" name="search" placeholder="Buscar...">
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/valle-verde" title="">
                                <span><img src="/images/icon1.png" alt=""></span>
                                Inicio
                            </a>
                        </li>
                        {{#if_not user.dataValues.role_id 3}}
                        <li>
                            <a href="#" title="">
                                <span><img src="/images/icon3.png" alt=""></span>
                                Gestión de usuarios
                            </a>
                            <ul>
                                {{#if_cond user.dataValues.role_id 1}}
                                    <li><a href="/roles" title="">Roles</a></li>
                                {{/if_cond}}
                                <li><a href="/usuarios" title="">Usuarios</a></li>
                            </ul>
                        </li>
                        {{/if_not}}
                        {{#if_cond user.dataValues.role_id 1}}
                        <li>
                            <a href="#" title="">
                                <span><img src="/images/icon7.png" alt=""></span>
                                Viviendas
                            </a>
                            <ul>
                                <li><a href="/bloques" title="">Bloques</a></li>
                                <li><a href="/villas" title="">Villas</a></li>
                            </ul>
                        </li>
                        {{/if_cond}}
                        {{#if_cond user.dataValues.role_id 3}}
                        <li id="block-notify">
                            <a href="#!" title="" class="not-box-open">
                                <span>
                                    <img src="/images/icon7.png" alt="">
                                    <span id="count_notify" class="badge badge-danger d-none">0</span>
                                </span>
                                Notificación
                            </a>
                            <div class="notification-box noti" id="notification">
                                <div class="nott-list">
                    
                                    {{!-- <div class="view-all-nots">
                                        <a href="#!" title="">Ver todas</a>
                                    </div> --}}
                                </div>
                            </div>
                        </li>
                        {{/if_cond}}
                        <li>
                            <a href="/perfil" title="">
                                <span><img src="/images/icon4.png" alt=""></span>
                                Mi Perfil
                            </a>
                        </li>                                  
                    </ul>
                </nav>
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                <div class="user-account">
                    <div class="user-info">
                        <img src="{{ user.dataValues.url_imagen }}" class="img_profile" width="30px" height="30px" alt="">
                        <a href="#" title="">{{ user.dataValues.username }}</a>
                        <i class="la la-sort-down"></i>
                    </div>
                    <div class="user-account-settingss" id="users">              
                        <h3>Ajustes</h3>
                        <ul class="us-links">
                            <li><a href="/perfil/ajustes" title="">Ajustes de cuenta</a></li>                    
                            <li><a href="#" title="">Terms. & Condiciones</a></li>
                        </ul>
                        <h3 class="tc">
                            <a href="/logout" title="" onclick="event.preventDefault();
                                         document.getElementById('logout-form').submit();">Cerrar sesión</a>

                            <form id="logout-form" action="/logout" method="post" style="display: none;"></form>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
      </header>