      <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="/valle-verde" title="">
                        <img src="/images/valle verde.png" alt="">
                    </a>
                </div>
                <div class="search-bar">
                    <form>
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/valle-verde" title="">
                                <span><img src="/images/icon1.png" alt=""></span>
                                Inicio
                            </a>
                        </li>
                        {{#if_not user.dataValues.role_id 3}}
                        <li>
                            <a href="#" title="">
                                <span><img src="/images/icon3.png" alt=""></span>
                                Administración
                            </a>
                            <ul>
                                {{#if_cond user.dataValues.role_id 1}}
                                    <li><a href="/roles" title="">Roles</a></li>
                                {{/if_cond}}
                                <li><a href="/usuarios" title="">Usuarios</a></li>
                            </ul>
                        </li>
                        {{/if_not}}
                        <li>
                            <a href="/perfil" title="">
                                <span><img src="/images/icon4.png" alt=""></span>
                                Mi Perfil
                            </a>
                        </li>                                  
                        <li>
                            <a href="#" title="" class="not-box-open">
                                <span><img src="/images/icon7.png" alt=""> <span class="badge badge-danger">2</span></span>
                                Notificación
                            </a>
                            <div class="notification-box noti" id="notification">
                                <div class="nt-title">
                                    <h4>Ajustes</h4>
                                    <a href="#" title="">Limpiar</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="/images/resources/ny-img1.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="/images/resources/ny-img2.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="/images/resources/ny-img3.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="/images/resources/ny-img2.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="view-all-nots">
                                        <a href="#" title="">Ver todos los incidentes</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                <div class="user-account">
                    <div class="user-info">
                        <img src="{{ user.dataValues.url_imagen }}" class="img_profile" width="30px" height="30px" alt="">
                        <a href="#" title="">{{ user.dataValues.username }}</a>
                        <i class="la la-sort-down"></i>
                    </div>
                    <div class="user-account-settingss" id="users">              
                        <h3>Ajustes</h3>
                        <ul class="us-links">
                            <li><a href="/perfil/ajustes" title="">Ajustes de cuenta</a></li>                    
                            <li><a href="#" title="">Terms. & Condiciones</a></li>
                        </ul>
                        <h3 class="tc">
                            <a href="/logout" title="" onclick="event.preventDefault();
                                         document.getElementById('logout-form').submit();">Cerrar sesión</a>

                            <form id="logout-form" action="/logout" method="post" style="display: none;"></form>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
      </header>